/*base模板*/
* {
    margin: 0;
    padding: 0;
}

/*home模板*/
h3.home-content {
    font-size: 222%;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;
}
div#container{
    margin: 0 auto;
    height: 20em;
    min-width: 20em;
    max-width: 30em;
}

/*列表*/
ul.blog-types {
    list-style-type: none;
}

/*详情页*/
ul.blog-info-description {
    list-style-type: none;
    margin-bottom: 2em;
}

ul.blog-info-description li {
    display: inline-block;
    margin-right: 1em;
}

div.blog-content {
    text-indent: 2em;
}

div.paginator {
    text-align: center;
}

div.blog-more {
    margin-top: 1em;
}